:root {
  --app-width: 1144px;
  --app-height: 509px;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html {
  min-height: 100vh;
}
body {
  line-height: 1;
}
body {
  font-family: var(--font-family-sans-serif);
  font-size: 14px;
  line-height: 18px;
  -webkit-font-smoothing: antialiased;
  background: #ffffff;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  animate: 0.2s;
  background: #3071a9;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  border: 1px solid #000000;
  height: 18px;
  width: 10px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
input[type=range]::-webkit-slider-runnable-track {
  background: #367ebd;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
.app {
  max-width: var(--app-width);
  min-width: var(--app-width);
  width: 100%;
  margin: 0 auto;
}
.app .razdel {
  display: block;
  width: 100%;
  flex: 1 0 auto;
  margin-top: 5px;
  margin-bottom: 5px;
}
.app .hidden {
  display: none;
}
.app .canvas_overlay {
  position: relative;
  overflow: hidden;
  background: #eee;
}
.app .canvas_overlay canvas {
  display: block;
  width: var(--app-width);
  height: var(--app-height);
}
.app .tools_overlay {
  border: 1px solid #777;
  padding: 10px;
}
.app .input {
  border: 1px solid #777;
  background-color: #fff;
  outline: none;
  border-radius: 3px;
}
.app .input[type=text] {
  padding: 6px 10px;
  height: 22px;
  max-width: 150px;
}
.app .input_color {
  width: 24px;
  height: 24px;
  border: 1px solid;
}
.app input[type=radio] {
  margin: 0;
  padding: 0;
  margin-right: 4px;
}
.app select {
  height: 22px;
  border: 1px solid;
}
.app textarea.input {
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-family: "PT Sans";
  font-weight: bold;
  padding: 8px 10px;
  min-height: 90px;
  border: 1px solid;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 0px;
}
.app h1,
.app h2,
.app h3 {
  margin-bottom: 8px;
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
.app .btn {
  margin-right: 10px;
  border: 1px solid transparent;
  background-color: transparent;
  border-radius: 2px;
  padding: 10px 15px;
  font-size: 12px;
  cursor: pointer;
  -webkit-transition-duration: 0.2;
  -o-transition-duration: 0.2;
  transition-duration: 0.2;
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
}
.app .btn_container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 10px;
  padding: 8px 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
}
.app .btn_container > div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: left;
  -webkit-justify-content: left;
  -ms-flex-pack: left;
  justify-content: left;
  margin-right: 10px;
  font-size: 13px;
  min-width: 200px;
}
.app .btn_container > div span {
  display: block;
  margin-right: 8px;
}
.app .btn_container > div:last-child {
  margin-right: 0;
}
.app .btn_container:first-child {
  border-top: none;
}
.app .btn_container:last-child {
  margin-bottom: 0;
  border-bottom: none;
}
.app .btn:last-child {
  margin-right: 0;
}
.app .btn_green {
  outline: 2px solid #0098ff;
  background-color: #0098ff;
  color: #ffffff;
  transition: all 0.3s ease;
}
.app .btn_green:hover {
  background-color: #ffffff;
  color: #0098ff;
}
.app .radiogroup {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.app .radiogroup label {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: 100%;
  font-weight: bold;
}
.app .radiogroup label:first-child {
  margin-right: 10px;
  font-weight: normal;
}
.text-center {
  text-align: center;
}
.flex-column-center {
  text-align: center;
  display: flex !important;
  flex: 1 0 auto;
  flex-direction: column;
  justify-content: center !important;
}
.container {
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
}
.container h1 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  font-weight: bold;
}
