
<head>
	<base href="[(site_url)]">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="cmsmagazine" content="d8e7426ec72ad3e4ea38b09ebf01284">
	<meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
	<meta name="yandex-verification" content="[(yandex_verification)]">
	<meta name="color-scheme" content="only light">
	<meta name="theme-color" content="#ffffff">
	<title>[*titl*]</title>[*noIndex*]
	<meta name="title" content="[*pagetitle:notags:strip*]">
	<meta name="description" content="[*desc:notags:strip*]">
	<meta name="keywords" content="[*keyw:notags:strip*]">
	<meta name="author" content="[(site_name)]">
	<!-- Open Graph-->
	<meta name="og:url" content="[(site_url)][~[*id*]~]">
	<meta property="og:type" content="website">
	<meta name="og:title" content="[*pagetitle:notags:strip*]">
	<meta name="og:description" content="[*desc:notags:strip*]">
	<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/svg+xml" href="/favicon.svg">
	<link rel="shortcut icon" href="/favicon.ico">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<meta name="apple-mobile-web-app-title" content="СП ДС «Василёк»">
	<link rel="manifest" href="/site.webmanifest">
	<link type="text/css" rel="stylesheet" href="assets/templates/projectsoft/css/bvi.min.css?5f826d86ba4b6a54051504768306476e">
	<link type="text/css" rel="stylesheet" href="assets/templates/projectsoft/css/main.min.css?5f826d86ba4b6a54051504768306476e">
	<!-- RSS-->
	<link rel="alternate" type="application/rss+xml" title="RSS-лента [(site_name)]" href="rss.xml"><@IF:[*id:is(2)*]>
	<!-- Canonical-->
	<link rel="canonical" href="[(site_url)][~[*id*]~]"><@ENDIF>
</head>